@media screen and (max-width: 992px) {
  .profile-container {
    min-width: 100%;
  }
  .profile-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-listings-img {
    width: 80px;
    height: 80px;
  }
  .profile-listings.lead {
    margin-bottom: 7px;
  }
}
@media screen and (max-width: 500px) {
  .carousel-item {
    img {
      height: 200px;
    }
  }

  .card {
    width: 90%;
    .card-header {
      width: 100%;
    }
  }
}
