$primary-color: #1e3a8a;
$secondary-color: #f97316;
$accent-color: #fbbf24;
$neutral-color: #f3f4f6;
$nav-footer-color: #1b203d;

:root {
  --primary-color: #1e3a8a;
  --secondary-color: #f97316;
  --accent-color: #fbbf24;
  --neutral-color: #f3f4f6;
  --nav-footer-color: #1b203d;
}
