@import "variables";

.searchbar {
  background-color: #f4f4f4;
  border-radius: 5px;
  margin: 20px auto;
  display: flex;
  align-self: stretch;
  width: 100%;
  .search-term {
    padding: 1rem 0 1rem 1rem;
    border: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    width: 100%;
  }
  .search-button {
    background-color: $accent-color;
    border: none;
    padding: 0 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
  }
}
